<table>
  <tr>
    <td width="64px">
      {% if source.service == 'spotify' %}
      <img src="{{ source.art }}" height="64" width="64">
      {% elif source.service == 'youtube' %}
      <img src="{{ source.art }}" height="64" width="64">
      {% endif %}
    </td>

    <td>
      <span class="source_popup">
        <p>
          {{ source.service }} :
        </p>
        <a href="{{ source.href }}">
          {{ source.title }}
        </a>
      </span>
      <a href="{{ url_for('playlists.delete_source', playlist_id=playlist.id, source_id=source.id, ) }}">
        X
      </a>
    </td>
  </tr>
</table>
<hr>
