<table>
  <tr>
    <td width="64px">
      <img src="{{ track['track']['album']['images'][2]['url'] }}">
    </td>

    <td>
      <span class="track_popup">
        <a href="{{ track['track']['external_urls']['spotify'] }}">
          {{ track['track']['name'] }}
        </a> :
        <a href="{{ track['track']['album']['external_urls']['spotify'] }}">
          {{ track['track']['album']['name'] }}
        </a>
      </span>
      <br>
      {% for artist in track['track']['artists'] %}
        <a href="{{ artist['external_urls']['spotify'] }}">{{ artist['name'] }} </a>
      {% endfor %}
    </td>
  </tr>
</table>
<hr>
