<div class="track" id = "track-0">
  <table>
    <tr>
      <td class="art track-art" width="64px">
        <img src="art_href" height="64" width="64">
      </td>

      <td>
        <span class="track-info">
          <a href="track_href">
            track_title
          </a> :
          <a href="album_href">
            album_title
          </a>
        </span>
        <br>
        <span class="artist-info">
          <a href="artist_href">artist_name</a>
        </span>
      </td>
    </tr>
  </table>
  <hr>
</div>
